a{
    text-decoration-line: none;
    color: inherit;
}


.nav{
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.nav-items{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}
.nav-item{
    margin-left: 10px;
    color: black;
}



.title{
    font-size:xx-large ;
    text-align : center;
}
.subtitle{
    text-align : center;
}

image{
    width: 30px;
    height: 15px;
}






/* 게시판 */
.board_list_head, 
.board_list_body .item{
    font-size: 0;
}

.board_list_head{
    padding: 10px 0;
}


.board_list_head > div,
.board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.board_list .num{
    width: 10%;
}

.board_list .tit{
    width: 55%;
}

.board_list .board_list_body .tit{
    text-align: left;
}




.board_list .writer{
    width: 10%;
}   

.board_list .date{
    width: 10%;
}

.board_list .view{
    width: 15%;
}