* {
    margin: 2px;
    font-size: 15px;
}

html {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}



input{
    border: 1px solid black;
    border-radius: 3px;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}


.wrapper {
    padding: 10px;
}

div {
    padding-bottom: 8px;
}




.email input {
    width: 100%;
}

.name input {
    width: 100%;
}

.pw input {
    width: 100%;
}

.pw2 input {
    width: 100%;
}

.signUp button {
    width: 100%;
    cursor:pointer;
}

button{
    cursor: pointer;
    height: 30px;
}